::selection {
    background-color: #2980b9;
    color: white;
}

h1 {
    margin: 30px;
    display: inline-block;
}

.beta {
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: lightgray;
    text-decoration: none;
}

.resultHead {
    margin: 0;
    background-color: gray;
    width: 70%;
    margin-top: 30px;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    padding-left: 25px;
    text-align: left;
}

p {
    background-color: darkgray;
    color: white;
    padding: 15px;
    text-align: left;
    width: 70%;
    border-radius: 0 0 10px 10px;
}

textarea {
    margin: 30px;
    display: inline-block;
}

.voice_btn {
    margin: 10px;
    position: relative;
    bottom: 50px;
}

.submit {
    display: block;
    margin-bottom: 30px;
}

.logo {
    height: 100px;
}
